html,body{
    margin: 0px;
    height: 100%;
}

body{
    display: flex;
    font-family: 'Roboto', sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

#side-bar{
    width: 320px;
    height: 100%;
    padding-top: 40px;
    box-sizing: border-box;
    border-right: 1px solid #E5E5E5;
}

#side-bar a{
    text-decoration: none;
}

#side-bar>button{
    display: none;
}

#page>button{
    display: none;
}

.menu-button{
    outline: none;
    border: none;
    background-color: white;
    margin-left: 20px;
    margin-bottom: 20px;
}


#page{
    height: 100%;
    width: 700px;
    padding-top: 40px;
    box-sizing: border-box;
}

.page-content-wrapper{
    padding-left: 20px;
}

.page-name{
    font-size: 40px;
    font-weight: 900;
}
.show{
    display: block;
}

.nav-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-page-button{
    background-color: #F6F6F6;
    display: flex;
    color: #868686;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
}

#readme-button{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    display: flex;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
}

.button{
    width: 280px;
    height: 48px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 12px;
}

.button-page-title{
    color: black;
    font-weight: bold;
    font-size: 17px;
}

.button-page-notification{
    height: 16px;
    width: 16px;
    background-color: #E5E5E5;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-weight: bold;
    color: #868686;
}

.button:hover{
    background-color: #0F6FFF;
    cursor: pointer;
}

.button:hover>.button-page-title{
    color: white;
}

.button:hover>.button-page-notification{
    background-color: #84B5FF;
    color: white;
}



.todo-list{
    margin-top: 30px;
    margin-left: 10px;
}

.todo-list>li{
    margin-top: 10px;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
}

.todo-list input{
    width: 16px;
    height: 16px;
}

.page-options{
    margin: 10px 0px;
}

.button-small{
    width: 150;
    text-align: center;
    color: red;
    cursor: pointer;
}

#task-input{
    margin-top: 30px;
    height: 40px;
    width: 80%;
    background-color: #fafafa;
    border: none;
    padding: 0px 10px;
    border-radius: 5px;
}

#task-input:focus{
    outline: none;
}

@media screen and (max-width : 720px) {
    .page-content-wrapper{
        padding: 20px;
    }
    #task-input{
        width: 100%;
    }
    #side-bar>button{
        display: block;
    }
    
    #page>button{
        display: block;
    }

    #side-bar{
        display: none;
        width: 100vw;
    }

    #side-bar.show{
        display: block;
    }

    #page.hide{
        display: none;
    }

    #page{
        min-width: 100%;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}