html,body{
    margin: 0px;
    height: 100%;
}

body{
    display: flex;
    font-family: 'Roboto', sans-serif;
}

#side-bar{
    width: 320px;
    height: 100%;
    padding-top: 40px;
    box-sizing: border-box;
    border-right: 1px solid #E5E5E5;
}

#side-bar>button{
    display: none;
}

#page>button{
    display: none;
}

.menu-button{
    outline: none;
    border: none;
    background-color: white;
    margin-left: 20px;
    margin-bottom: 20px;
}


#page{
    height: 100%;
    padding-top: 40px;
    box-sizing: border-box;
}

.page-content-wrapper{
    padding-left: 20px;
}

.page-name{
    font-size: 40px;
    font-weight: 900;
}
.show{
    display: block;
}

.nav-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-page-button{
    background-color: #F6F6F6;
    display: flex;
    color: #868686;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}

.button{
    width: 280px;
    height: 48px;
    border-radius: 5px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 12px;
}

.button-page-title{
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.button-page-notification{
    height: 16px;
    width: 16px;
    background-color: #E5E5E5;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-weight: bold;
    color: #868686;
}

.button:hover{
    background-color: #0F6FFF;
    cursor: pointer;
}

.button:hover>.button-page-title{
    color: white;
}

.button:hover>.button-page-notification{
    background-color: #84B5FF;
    color: white;
}



.todo-list{
    margin-top: 30px;
    margin-left: 10px;
}

.todo-list>li{
    list-style: none;
    font-size: 16px;
    font-weight: bold;
}

.todo-list input{
    width: 16px;
    height: 16px;
}



@media screen and (max-width : 720px) {
    #side-bar>button{
        display: block;
    }
    
    #page>button{
        display: block;
    }

    #side-bar{
        display: none;
        width: 100vw;
    }

    #side-bar.show{
        display: block;
    }

    #page.hide{
        display: none;
    }
}